Checks: "bugprone-*,cppcoreguidelines-*,clang-analyzer-*,readability-*,misc-*,modernize-*,
  -cppcoreguidelines-special-member-functions,
  -modernize-use-trailing-return-type,
  -readability-identifier-length"
